[submodule "lvim"]
	path = lvim
	url = https://github.com/subliminalspaces/lvim-configs
[submodule "zsh"]
	path = zsh
	url = https://github.com/subliminalspaces/zsh-configs
[submodule "i3"]
	path = i3
	url = https://github.com/subliminalspaces/i3-configs
[submodule "tmux"]
	path = tmux
	url = https://github.com/subliminalspaces/tmux-configs
[submodule "alacritty"]
	path = alacritty
	url = https://github.com/subliminalspaces/alacritty-configs
[submodule "nvim"]
	path = nvim
	url = https://github.com/subliminalspaces/nvim-configs
[submodule "system-monitor-configs"]
	path = system-monitor-configs
	url = https://github.com/subliminalspaces/system-monitor-configs
[submodule "aconfmgr"]
	path = aconfmgr
	url = https://github.com/subliminalspaces/aconfmgr
