*
!README.04/11/2023
!aconfmgr
!alacritty
!i3
!nvim
!picom
!polybar
!zsh
!rofi
!wofi
!hypr
!ranger
!btop
!mpv
!procps
!waybar
!kitty
!btop
!qutebrowser
!swaylock
!wofi
!bat
!starship
*/**/Session.vim
!nvidia.hook
